html, body{
    background-image: url(../images/gravel.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Container holding the image and the text */
.container {
    position: relative;
}

.name{
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    padding: 15px;
}

.caption{
    color: #4aaaa5;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.bio{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: justify;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px; 
}

/* Bottom right text */
.text-block {
    position: absolute;
    top: 100px;
    bottom: 10px;
    right: 0px;
    left: 15px;
    background-color: #4aaaa5;
    color: white;
    height: 40px;
    width: 168px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
}

.header{
    border-bottom: solid;
    border-color: #cccccc;
    padding-left: 270px;
    padding-right: 270px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: #ffffff;

}

.li{
    border-right: 1px solid;     
    border-color: #cccccc;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.li:last-child {
    border-right: none;
}

.main{
    background-color:white;
    width: 960px;
    margin: 60px auto;
    padding: 40px;
}

.form{
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

.footer{
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #666666;
    color: white;
    /* border-top: solid;
    border-top-color: #4aaaa5; */
}
.footer-body{
    border-top: solid;
    position: fixed;
    border-width: 5px;
    border-top-color: #4aaaa5;
    left: 0;
    padding: 40px;
    bottom: 0;
    height: 45px;
    width: 100%;
    background-color: #666666;
}

.btn.btn-square {
  border-radius: 0;
  background-color: #4aaaa5 !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 14px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}
