html, body{
    background-image: url(../images/gravel.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Container holding the image and the text */
.container {
    position: relative;
}

.name{
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

.caption{
    color: #4aaaa5;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.bio{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

.images{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px; 
}

/* Bottom right text */
.text-block {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #4aaaa5;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.header{
    border-bottom: solid;
    border-color: #cccccc;
}

.li{
    border-right: 1px solid;     
    border-color: #cccccc;
}

.li:last-child {
    border-right: none;
}

.main{
    background-color:white;
    width: 960px;
    margin: 60px auto;
    padding: 40px;
}

.footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666666;
    color: white;
    border-top: solid;
    border-top-color: #4aaaa5;
}